* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(fonts/impact/impact.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

/*BASE*/

body {
    background-color: whitesmoke;
}

header {
    width: 100%;
    height: 66px;
    background-color: #ff7f00;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}

footer {
    width: 100%;
    margin: 0 auto;
    height: 207px;
    background-color: #ff7f00;
}

i {
    font-size: 3.152rem;
}

/* COMPONNENTS*/

.meme-container {
    background-color: var(--white-two);
    padding-top: 26px;
    padding-bottom: 23px;
    padding-left: 51px;
    padding-right: 136px;
    height: 600px;
}

.canvas-container {
    background-color: var(--white-two);
}

#meme-canvas {
    background-color: orangered;
    border: solid black 2px;
}

.line {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 1.875rem;
}

.menu-container {
    background-color: var(--white-two);
    max-width: 373px;
    height: 500px;
}

.menu-btn {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
}

.menu-btn:active {
    outline: none;
    border: none;
}

.menu-color {
    width: 50px;
    height: 50px;
}

.font-select {
    width: 218px;
    height: 60px;
    text-align-last: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.act-btn {
    width: 115px;
    height: 60px;
    border-radius: 12px;
    background-color: #ff7f00;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.logo {
    max-width: 133px;
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 41px;
}

.nav-item {
    width: 75px;
    height: 100%;
    font-size: 1.125rem;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.nav-item:hover {
    outline: none;
    border: none;
    box-shadow: inset 0 -6px 0 #040a2c;
}

.hamburger {
    color: white;
    padding-right: 10px;
    padding-top: 10px;
}

.rights {
    width: 240px;
    height: 19px;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
}

/* GALLERY */

.gallery {
    background-color: var(--white-two);
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    margin-top: 20px;
}

.gallery-container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    justify-content: center;
    grid-gap: 22px;
    grid-template-columns: repeat(auto-fill, minmax(353px, 1fr));
}

.gallery-img {
    width: 353px;
    height: 353px;
    justify-self: center;
    object-fit:contain ;
}

.meme-img {
    width: 353px;
    width: 353px;
    justify-self: center;
    object-fit:contain;
}

.gallery-img:hover {
    opacity: 0.3;
    border-radius: 50%;
    transition: opacity 1s ease, border-radius 1s ease;
}

.pager-cntainer {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    margin-bottom: 20px;
}

.pager {
    width: 150px;
    height: 30px;
    border-radius: 12px;
    background-color: #ff7f00;
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.meme-btn-container {
    margin-top: 3.5%;
}

.meme-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #ff7f00;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.meme-opt-icon {
    font-size: 1.5rem;
    color: #ffffff;
}

/*ABOUT*/

.about {
    width: 100%;
    height: 567px;
    background-color: white;
    overflow: scroll;
}

.me-img {
    width: 322px;
    height: 322px;
    border-radius: 50%;
}

.txt-container {
    margin-left: 39px;
}

.my-name {
    width: 530px;
    height: 21px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.details {
    width: 530px;
    height: 43px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: #000000;
}

.my-icons-container {
    width: 85px;
}

.personal-icon-container {
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
    padding: 5px;
}

.personal-icon {
    font-size: 1.875rem;
    text-align: center;
    cursor: pointer;
    color: white;
}

/* HELPERS */

/* display helpers */

.display {
    display: block;
}

.hidden {
    display: none;
}

.z-index {
    z-index: 3;
}

/* Position-Helpers */

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
    right: 0;
}

/* action helpers */

.no-click {
    pointer-events: none;
}

.grab{
    cursor: grab;
}

/* flex helpers */

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

/* MEDIA QUERIES */

@media screen and (max-width:920px) {
    .meme-container {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .info-container {
        flex-direction: column;
    }
    .txt-container {
        flex-direction: row;
    }
}

@media screen and (max-width:530px) {
    .meme-container {
        justify-content: flex-start;
    }
    #meme-canvas {
        width: 430px;
        height: 430px;
    }
}

@media screen and (max-width:480px) {
    .meme-container {
        height: 700px;
    }
    #meme-canvas {
        width: 330px;
        height: 330px;
    }
    .menu-container {
        width: 330px;
        height: 330px;
        margin-top: 10px;
    }
    .menu-btn {
        width: 40px;
        height: 40px;
        padding: 3px;
    }
    .menu-color {
        width: 30px;
        height: 30px;
    }
    i {
        font-size: 2rem;
    }
    .act-btn {
        width: 120px;
        height: 30px;
        font-size: 0.9rem;
        font-weight: 300;
    }
    .font-select {
        height: 30px;
    }
    .line {
        margin: 0 auto;
        height: 35px;
        font-size: 0.9rem;
        justify-self: center;
    }
    .gallery-container {
        width: 100%;
        display: grid;
        grid-auto-flow: dense;
        justify-content: center;
        grid-gap: 22px;
        grid-template-columns: repeat(auto-fill, minmax( 180px, 1fr));
    }
    .gallery-img {
        width: 180px;
        height: 180px;
        justify-self: center;
    }
    .meme-img {
        width: 180px;
        height: 180px;
        justify-self: center;
    }
    .about {
        height: 567px;
    }
    .my-name {
        width: 273px;
    }
    .details {
        width: 273px;
    }
    .me-img {
        width: 200px;
        height: 200px;
    }
    .info-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .txt-container {
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    .my-icons-container {
        margin-top: 100px;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        height: 40vh;
        background: #ff7f00;
        box-shadow: -8px 0px 20px rgb(0 0 0 / 10%);
        transform: translateX(100%);
        border-left: solid 1px #ccc;
        transition: transform .8s, box-shadow 1s;
    }
    .nav-open {
        transform: translateX(0);
        transition: transform .8s, box-shadow 1s;
    }
    .nav-item {
        width: 100vw;
        height: 100vh;
        align-items: center;
        border-bottom: 1px solid #dcdcdc;
        padding: 0 20px;
        font-size: 2rem;
    }
    .nav-item:hover {
        background-color: rgb(204 204 204 / 20%);
    }
    .hamburger {
        display: inline;
        z-index: 3;
    }
    .meme-btn-container {
        width: 180px;
        margin-top: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;
    }
}
